.hero {
  position: relative;
  padding: clamp(1.5rem, 2vw, 4rem) 0;
  text-align: center;

  &__wrap {
    @include flex-col;
    align-items: center;
    justify-content: center;
  }

  &__card {
    position: relative;
    padding: 1.5rem clamp(2rem, 5vw, 5rem);
    transition: transform 0.3s ease-in-out;
    box-shadow: $extra-light-blue-shadow;
    background: none;
    z-index: 1;
    &:hover {
      transform: scale(1.05);
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba($primary, 0.35);
      filter: blur(32px);
      opacity: 0.5;
      z-index: -1;
    }
  }

  &__title {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-weight: $fw-dark;
    color: $white;
    margin-bottom: 1.5rem;
    line-height: 1.1;
    letter-spacing: -1px;
    text-shadow:
      0 0 25px rgba($primary, 0.3),
      0 4px 10px rgba($dark, 0.5);
  }

  &__subtitle {
    font-size: clamp(1.15rem, 2vw, 1.35rem);
    color: rgba($white, 0.75);
    font-weight: $fw-normal;
    margin-bottom: 3rem;
    line-height: 1.6;
  }
}
