@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

$primary: #ff00a0;
$sky-blue: #2699f7;
$dark: #1e1e24;
$blue-grey: #2a2d34;
$white: #f0f0f0;

$fw-light: 400;
$fw-normal: 500;
$fw-bold: 700;
$fw-dark: 900;

$light-blue-shadow: rgba(25, 25, 234, 0.1) 0px 7px 29px 0px;
$extra-light-blue-shadow: rgba(12, 12, 248, 0.08) 0px 6px 28px 0px;
