body {
  font-family: "Quicksand", sans-serif;
  color: $white;
}

.wrapper {
  @include flex-col;
  overflow: clip;
  width: 100%;
  min-height: 100vh;
  background-color: $dark;
}

.main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka", sans-serif;
}
