@use "@scss/_variables.scss" as *;

.brand-header {
  &--sticky {
    position: sticky;
    inset: 0;
    z-index: 1000;
  }
  &__wrap {
    text-align: center;
  }
  &__card {
    background-color: $blue-grey !important;
  }
  &__logo {
    font-family: "Fredoka", sans-serif;
    font-size: 2.25rem;
    font-weight: $fw-dark;
    color: $primary;
    text-decoration: none;
    letter-spacing: 4px;
    transition: all 0.3s ease;

    &:hover {
      text-shadow: 0 0 12px rgba($primary, 0.6);
    }
  }
}
