@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap");

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Quicksand", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: clip;
  width: 100%;
  min-height: 100vh;
}

.main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka", sans-serif;
}
